{% extends 'szablon.html' %}
{% block produkt%}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ produkt_user.id }}</title>
</head>
<body>
    {% if produkt_user %}
        <h1> {{ produkt_user.marka }} {{ produkt_user.model}}</h1>
        <p> {{ produkt_user.opis}} </p>
        <p> Cena: {{ produkt_user.cena}} </p>
        <p> {% if produkt_user.rezerwacja %}
                Rezerwacja
            {% else%}
                Produkt dostępny
            {% endif %}
        </p>
    {% else %}
        <p> Brak produktu. </p>
    {% endif %}

</body>
</html>
{% endblock %}